body{
    font-family: 'Lato', sans-serif;
}

/* Header related styles */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner{
    padding: 30px 50px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner .banner-content .banner-title{
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 15px;
    border: 0px;
}

.banner-description{
    width: 650px;
    flex-direction: column;
    margin-bottom: 25px;
}

.btn-primary{
    border-radius: 5px;
    background-color: #E55473;
    font-size: 20px;
    color: white;
    padding: 20px;
    margin-top: 5px;
    border: 0px;
}

.banner-pic{
    width: 635px;
    height: 800px;
    align-items:flex-end;
}