/* Common styles */
body{
    font-family: 'Lato', sans-serif;
}

.text-primary {
    color: #E55473;
}

.btn-primary{
    border-radius: 5px;
    background-color: #E55473;
    font-size: 20px;
    color: white;
    padding: 20px;
    margin-top: 5px;
    border: 0px;
}

/* .section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
} */

/* .section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
} */

/* Header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner{
    padding: 30px 50px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner .banner-content .banner-title{
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 15px;
    border: 0px;
}

.banner-description{
    width: 650px;
    flex-direction: column;
    margin-bottom: 25px;
}

.banner-pic{
    width: 635px;
    height: 800px;
    align-items:flex-end;
}

/* Main section styles */

/* Featured Flower Section Style */

.featured{
    margin: 50px 250px;
}

.featured .section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
}

.featured .section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 30px; */
    margin-bottom: 50px;
}

.featured .featured-flowers{
    margin: 30px 250px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.featured-flower1{
    width: 300px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 70px 0px 70px;
    margin-right: 25px;
}
.featured-flower2{
    width: 300px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 100px 70px 0px 70px;
    margin-right: 25px;
}
.featured-flower3{
    width: 300px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 100px 70px 0px 70px;
}
.flower-title{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
}

/* Deal Related Styles */
.deal{
    margin-top: 30px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.deal .hot-deal{
    text-align: center;
}
.deal .hot-deal .deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.deal .hot-deal .deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.deal-pic{
    padding: 100px 0px;
}

/* Instagram Section related styles */
.instagram{
    margin: 30px 220px;
}
.instagram .instagram-container{
    text-align: center;
    margin: 130px 0px 50px 0px;
}
.instagram .instagram-container .instagram-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.instagram .instagram-container .instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.instagram .instagram-pic{
    display: flex;
    align-items: center;
    justify-content: space-around;
}